<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user id page</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
</head>
{% load static %}
<style>
    body {background-color: skyblue;
    }
    h1 {
    text-align:center;
    font-style:oblique;
    color:red;
    font-family: "Times New Roman", Times, serif;
    background-color: black;
    }

</style>
<body>
<h1>EDIT USER ID AND PASSWORD</h1>
{% if a %}
<form method="post">
    {% csrf_token %}

    <table>
        <tr>
            <td>
                <label style="font-family:-webkit-body;font-size:larger;"><b>USER ROLE:</b></label>
            </td>
            <td>
                {{a.role}}
            </td>
        </tr>
        <tr>
            <td>
                <label style="font-family:-webkit-body;font-size:larger;"><b>USER ID</b></label>
            </td>
            <td>
                <input type="text" name="roleid" value="{{a.role_id}}">
            </td>
        </tr>
        <tr>
            <td>
                <label style="font-family:-webkit-body;font-size:larger;"><b>PASSWORD:</b></label>
            </td>
            <td>
                    <input type="text" name="password" value="{{a.password}}">
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="update">
            </td>
        </tr>


    </table>
</form>
{% endif %}
</body>
</html>
