<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create user id and password</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
</head>
{%load static%}
<body>
<style>
    h1 {
    text-align:center;
    font-style:oblique;
    color:red;
    font-family: "Times New Roman", Times, serif;
    background-color: black;
    }
    button {
  background-color: #04AA6D;
  color: white;
  padding: 7px 10px;
  margin: 4px 0;
  border: none;
  cursor: pointer;
  width:15%;
}

button:hover {
  opacity: 0.8;
}
</style>
<h1>Create Your User Id's and Passwords</h1>
<br>
<br>
<form method="post">
    {%csrf_token%}
    <div class="container" style="text-align:center;">
        <tr>
            <td>
                <label style="font-family:-webkit-body;font-size:larger;"><b>ROLE:</b></label>
            </td>
            <td>
                <select name="role">
                    <option>-select-</option>
                    <option value="Principal">Principal</option>
                    <option value="Vice Principal">Vice Principal</option>
                    <option value="Teacher">Teacher</option>
                </select>
            </td>
        </tr>
<br>
    <br>
        <tr>
            <td>
                <label style="font-family:-webkit-body;font-size:larger;"><b>USER ID:</b></label>
            </td>
            <td>
                <input type="text" name="userid" >
            </td>
        </tr>
<br>
    <br>
        <tr>
            <td>
                <label style="font-family:-webkit-body;font-size:larger;"><b>CREATE PASSWORD:</b></label>
            </td>
            <td>
                <input type="text" name="create password">
            </td>
        </tr>
        <br>
        <br>
        <tr>
            <td>
                <label style="font-family:-webkit-body;font-size:larger;"><b>CONFIRM PASSWORD:</b></label>
            </td>
            <td>
                <input type="password" name="confirm password">
            </td>
        </tr>
    </div>
    <br>
    {%if a%}<b style="color:red;text-align:center;">Create and Confirm Passwords are mismatched</b>{% endif %}
    <br>


    <div class="container" style="text-align:center;">
        <input type="submit"  value="Save">
    </div>

</form>
</body>
</html>