<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>view timetable details subject wise</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
</head>
{% load static %}

<body>

<script>
    function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    }

    function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    }
    </script>
    <div class="w3-sidebar w3-bar-block w3-border-right" style="display: block;background-color: rgb(231, 166, 82) !important;" id="mySidebar">
        <button onclick="w3_close()" class="w3-bar-item w3-large" >Close x</button>
        <form method="post">
        {%csrf_token%}
            <tr>
        <input class="w3-bar-item w3-button"  style="font-weight:bold;font-variant: all-small-caps;" type="submit" value="1st standard" name="content">
    </tr>
            <tr>
        <input class="w3-bar-item w3-button"  style="font-weight:bold;font-variant: all-small-caps;" type="submit" value="2nd standard" name="content">
    </tr>
            <tr>
        <input class="w3-bar-item w3-button"  style="font-weight:bold;font-variant: all-small-caps;" type="submit" value="3rd standard" name="content">
    </tr>
            <tr>
        <input class="w3-bar-item w3-button"  style="font-weight:bold;font-variant: all-small-caps;" type="submit" value="4th standard" name="content">
    </tr>
            <tr>
        <input class="w3-bar-item w3-button"  style="font-weight:bold;font-variant: all-small-caps;" type="submit" value="5th standard" name="content">
    </tr>
            <tr>
        <input class="w3-bar-item w3-button"  style="font-weight:bold;font-variant: all-small-caps;" type="submit" value="6th standard" name="content">
    </tr>
            <tr>
        <input class="w3-bar-item w3-button"  style="font-weight:bold;font-variant: all-small-caps;" type="submit" value="7th standard" name="content">
    </tr>
            <tr>
        <input class="w3-bar-item w3-button"  style="font-weight:bold;font-variant: all-small-caps;" type="submit" value="8th standard" name="content">
    </tr>
            <tr>
        <input class="w3-bar-item w3-button"  style="font-weight:bold;font-variant: all-small-caps;" type="submit" value="9th standard" name="content">
    </tr>
            <tr>
        <input class="w3-bar-item w3-button"  style="font-weight:bold;font-variant: all-small-caps;" type="submit" value="10th standard" name="content">
    </tr>
            <tr>
        <input class="w3-bar-item w3-button"  style="font-weight:bold;font-variant: all-small-caps;" type="submit" value="11th standard" name="content">
    </tr>
            <tr>
        <input class="w3-bar-item w3-button"  style="font-weight:bold;font-variant: all-small-caps;" type="submit" value="12th standard" name="content">
    </tr>

</form>
    </div>
    <div class="w3-teal" style="background-color: rgb(231, 166, 82)!important;">
        <button class="w3-button w3-teal w3-xlarge" style="color: #fff!important;background-color: rgb(231, 166, 82)!important;" onclick="w3_open()">☰</button>
    </div>


    <div class="container">
        <img src="{%static 'images/img/tt.jpg'%}" alt="Timetable" style="width:100%;">
    </div>
<footer>
<div class="container" style="font-size: large;font-style: oblique;font-family: auto;font-weight: bold;">
    <p>TO CREATE A BEST WEB APPLICATIONS AND WEBSITES,PLEASE CONTACT UC @ MAIL ID:premiyadr@gmail.com</p>
</div>

</footer>



</body>
</html>